[user]
	name = Qin Fandong
	email = shell_way@foxmail.com
	signingkey = B66CC194
[core]
	editor = vim
	askPass =
	quotepath = off
[color]
	ui = true
	pager = true
	branch = auto
	diff = auto
[color "status"]
	added = green
	changed = cyan
	untracked = yellow
[color "diff"]
	frag = magenta bold
	meta = green bold
	new = cyan
	old = yellow
[alias]
	bc = branch
	cf = config
	cl = clone
	cm = commit
	co = checkout
	cp = cherry-pick
	cs = commit -S
	df = diff
	fp = format-patch
	it = init
	lg = log
	mg = merge
	pl = pull
	ps = push
	rb = rebase
	rs = reset
	sh = show
	sm = submodule
	st = status
	ts = tag -s
	vc = verify-commit
[push]
	default = simple
[pull]
	rebase = false
[merge]
	tool = vimdiff
#[commit]
#	template = ~/.commit_template
#[http]
#	proxy = http://localhost:10809
#[https]
#	proxy = http://localhost:10809

