[alias]
	bc = branch
	cf = config
	cl = clone
	cm = commit
	co = checkout
	cp = cherry-pick
	cs = commit -S
	df = diff
	fp = format-patch
	it = init
	lg = log
	mg = merge
	pl = pull
	ps = push
	rb = rebase
	rs = reset
	sh = show
	sm = submodule
	st = status
	ts = tag -s
	vc = verify-commit
[color]
	branch = auto
	diff = auto
	pager = true
	ui = true
[color "diff"]
	frag = magenta bold
	meta = green bold
	new = cyan
	old = yellow
[color "status"]
	added = green
	changed = cyan
	untracked = yellow
#[commit]
#	template = ~/.commit_template
[core]
	askPass =
	editor = vim
	quotepath = false
[gui]
	encoding = utf-8
[http]
	proxy = http://localhost:8889
[https]
	proxy = http://localhost:8889
[i18n]
	logoutputencoding = utf-8
[i18n "commit"]
	encoding = utf-8
[merge]
	tool = vimdiff
[pull]
	rebase = false
[push]
	default = simple
[user]
	email = shell_way@foxmail.com
	name = Qin Fandong
	signingkey = B66CC194
