# backup files
*~
*.swp

# tags
.tags*
tags

# log files
*.log

# dot files
.*

# zip files
*.gz

# git
!.gitignore

# python
*.pyc

# make file
*.o
*.o.d
core
*.ko
*.mod
*.mod.c
Module.symvers
modules.order

# nano history file
search_history

