# =========================
# nano 配置文件
# 位置: ~/.nanorc
# 需要: configure 时指定--enable-nanorc
#
#           By 秦凡东
# =========================

# =========================
# 编辑
# =========================
# 自动缩进
set autoindent
# 颜色反转不用粗体替代
unset boldtext
# 可从头重新搜索
set backwards
# 大小写不敏感
unset casesensitive
# 搜索时使用正则表达式
set regexp
# 关闭只读模式
unset view
# 不在文件结尾添加新行
set nonewlines
# tab 占用2 个字符宽度
set tabsize 2
# tab 转换空格
set tabstospaces
# 平滑滚动
set smooth
# 软换行
set softwrap
# 智能HOME 键
set smarthome
# 禁止自动换行
set nowrap
# 换行的宽度：等宽屏幕
set fill 0
# 默认剪贴到行尾
set cut
# 下列字符看作闭括号
set brackets ""')>]}"
# 括号匹配
set matchbrackets "(>[{)>]}"
# 标点当作单词的一部分
set wordbounds
# BackSpace 和Delete 键不混用
unset rebinddelete
# 小键盘使用数字键
unset rebindkeypad
# 邮件引用段落
set quotestr "^([ 	]*[#:>\|}])+"
# 被当作分段符的结束符
set punct "!.?"
# 要使用的外部拼写检查指令：需要aspell
set speller "aspell -x -c -l en_US"

# ========================
# 常规
# =======================
# 不产生备份文件
unset backup
# 备份文件使用当前目录
set backupdir "."
# 多文件缓冲，configure 指定--enable-multibuffer
set multibuffer
# 自动转换DOS/Mac 式换行
unset noconvert
# 查找/替换历史记入 ~/.nano_history
set historylog
# 状态栏显示光标位置
set const
# 禁止状态行快速闪动
unset quickblank
# 隐藏底部提示信息
set nohelp
# 标题栏和编辑区域之间不留空行
set morespace
# 启用鼠标
set mouse
# 退出时不自动保存
unset tempfile
# 保存到符号链接指向的文件
unset nofollow
# 禁止独占Ctrl+Q 和Ctrl+S
unset preserve
# 允许挂起
set suspend
# Vim 风格的加锁文件
set locking
# nano 工作目录：任何目录外的文件写入都会被拒绝
#set operatingdir ""

# =========================
# 按键映射
# =========================
# 重新映射退出键
unbind ^Q all
bind ^Q exit all
# 快速保存
bind F5 writeout all
# 符合习惯的撤销重做
bind ^Z undo main
bind ^Y redo main
# 符合习惯的剪贴、复制、粘贴
bind ^X cut main
bind ^C copytext main
bind ^V uncut main
# 快速跳转
bind ^N gotoline main
# 标记模式（vim 可视模式）
bind F6 mark main
# vim 风格前后左右移动
bind M-H left main
bind M-L right main
bind M-J down main
bind M-K up main
# 对应括号跳转
bind M-P findbracket main
# 段落头尾跳转
bind M-B beginpara main
bind M-E endpara main
# 文件头尾跳转
bind ^B firstline main
bind ^E lastline main
# 查找和替换
bind ^F whereis all
bind F3 searchagain all

# =========================
# PKGBUILD 文件语法高亮
# =========================
syntax "pkgbuild" "^.*PKGBUILD*"
# commands
color red "\<(cd|echo|enable|exec|export|kill|popd|pushd|read|source|touch|type)\>"
color brightblack "\<(case|cat|chmod|chown|cp|diff|do|done|elif|else|esac|exit|fi|find|for|ftp|function|grep|gzip|if|in)\>"
color brightblack "\<(install|ln|local|make|mv|patch|return|rm|sed|select|shift|sleep|tar|then|time|until|while|yes)\>"
# ${*}
icolor blue "\$\{?[0-9A-Z_!@#$*?-]+\}?"
# numerics
color blue "\ [0-9]*"
color blue "\.[0-9]*"
color blue "\-[0-9]*"
color blue "=[0-9]"
# spaces
color ,green "[[:space:]]+$"
# strings; multilines are not supported
color brightred ""(\\.|[^"])*"" "'(\\.|[^'])*'"
# comments
color brightblack "#.*$"

# =========================
# 代码高亮
# =========================
include "~/.nano/*.nanorc"

